#container1 {
    display: flex;
    justify-content: space-between;
    /*border: solid;*/
}
/*div{
  border: solid;
}*/
.box0 .box1 .box2 .box3 .box4 .box5 {
  width: 150px;
  height: 150px;
  background: red;
}
#pic1,#pic2,#pic3 ,#pic4, #pic5
{ cursor: pointer; }
.nullCursor{
  cursor: default !important;
}
.button-wrapper {
  /*background: darkorange;*/
  display: table-cell;
  vertical-align: middle;
}
#buttonId1{
visibility: hidden;
}
/*#buttonId{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}*/
/*#mypara{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 1.7em;
  font-weight: bold;
}*/

/*.btn.btn-lg.btn-primary:disabled{
  background-color: green;
}*/
/*.btn.btn-lg.btn-primary{
  background-color: gray;
}*/
